<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>상품등록</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../../../../../../Downloads/startbootstrap-shop-item-gh-pages/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/main}">hodu shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/item/new}">Upload</a></li>
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/seller/manage/{id}(id=${user.getId()})}">Manage</a></li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-dark" href="#" th:text="|현재수익 : ${user.getCoin()} ₩|">
                    현재잔액 : 10000 ₩
                </a>
                <a class="btn btn-outline-dark" th:href="@{/seller/{id}(id=${user.getId()})}" th:text="|${user.getName()}님 환영합니다.|">
                    판매자 페이지
                </a>
                <a class="btn btn-outline-dark" th:href="@{/logout}">
                    로그아웃
                </a>
            </form>
        </div>
    </div>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
    <!--<div class="col-md-7 col-lg-8 container">-->
        <form th:action="@{/item/new/pro}" method="post" enctype="multipart/form-data">
            <div class="row g-3">
                <hr/>
                <div class="col-12">
                    <!--<label class="form-label">상품 상태</label>
                    <select name="isSoldout">
                        <option value="">선택</option>
                        <option value="SELL">판매중</option>
                        <option value="SOLDOUT">품절</option>
                    </select>-->
                    <label class="form-label" for="isSoldout">상품 상태</label><br/>
                    <input type="radio" name="isSoldout" id="isSoldout" value="0">판매중<br/>
                    <input type="radio" name="isSoldout" id="isSoldout" value="1">품절<br/>
                    <div class="invalid-feedback">
                        Input is empty.
                    </div>
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">상품 이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="상품 이름을 입력하세요.">
                    <div class="invalid-feedback">
                        Your name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="text" class="form-label">상품 설명</label>
                    <input type="text" class="form-control" name="text" id="text" placeholder="상품 설명을 입력하세요.">
                    <div class="invalid-feedback">
                        Input is empty.
                    </div>
                </div>

                <div class="col-12">
                    <label for="price" class="form-label">상품 가격</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="상품 가격을 입력하세요.">
                    <div class="invalid-feedback">
                        Input is empty.
                    </div>
                </div>

                <div class="col-12">
                    <label for="stock" class="form-label">상품 재고</label>
                    <input type="text" class="form-control" id="stock" name="stock"
                           placeholder="상품 재고를 입력하세요.">
                    <div class="invalid-feedback">
                        Input is empty.
                    </div>
                </div>

                <div class="col-12">
                    <label for="text" class="form-label">상품 이미지 업로드</label>
                    <input type="file" class="form-control" id="imgFile" name="imgFile">
                </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg mb-3" type="submit">상품 등록</button>
        </form>
    </div>
    </div>
</section>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; hodu shop</p>
</footer>

</body>

</html>